@media (max-width: 1440px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1110px) {
    .cards-wrapper {
        max-width: 700px;
        margin: 0 auto;
    }
}



@media (max-width: 1024px) {
    .container {
        max-width: 786px;
        padding: 10px;
    }
}
